<?php

$menu = require '../config/menu.php';
$icon_menu = require '../config/icon_menu.php';

return [
    'base_url' => 'http://localhost:8080',
    'default_page' => 'default/index',
    'database' => [
        'driver'   => 'PDO',
        'host'     => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname' => 'presensi_db', // 'notif-sql-1',
        'port' => NULL,
        'socket' => NULL
    ],
    'jwt_secret' => 'presensi_jwt_secret',
    'auth' => 'session', //JWT or Session
    'menu' => [
        'menu' => $menu,
        'icon' => $icon_menu
    ],
    'maps' => [
        'lat' => '2.9880487',
        'lng' => '99.6136513'
    ],
    'demo_status'=>true,
];